<div class="card" style="max-width: 100%; height: auto;">
    <div class="card-header">
      Profile
    </div>
    <img class="card-img-top" src="https://m.media-amazon.com/images/I/81K0z2L129L._AC_SL1500_.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Kassarapron Pechnok</h4>
      <p class="card-text">
        <li>StudentID: {{id}}</li>
        <li>Age: {{2022-year}}</li>
      </p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>